body{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: myFirstFont;
    src: url(./Montserrat-Bold.ttf);
}
  
*{
    /* font-family: 'Arvo', serif; */
    /* font-family: 'Dosis', sans-serif; */
    font-family: 'Montserrat', sans-serif !important;
    /* font-family: 'Montserrat Subrayada', sans-serif; */
}