.container-fluid{
    height: 200px;
    background-color: white;
}
.container-fluid{
    padding: 0;
}
.dashboard{
    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
    padding-left: 6%;
    padding-right: 6%;
}
.mainbody h1{
    font-family: 'Lato', sans-serif !important;
}
.mainbody_clss{
    height: 79vh;
    display: flex;
    align-items: center;
}
.dashboard-light{
    color: #49274a !important;
    background-color:  #f4decb !important;
}

.mainbody_paragraph{
    font-weight: 600;
    font-size: 18px;
}
.dashboard-light .btn{
    background-color: #49274a !important;
    color:  #f4decb !important;
}

.dashboard-dark  .btn:hover{
    color: #f4decb !important;
    background-color:  #49274a !important;
}
.dashboard-light .btn:hover{
    color: #49274a !important;
    background-color:  #f4decb !important;
}
.dashboard .dropdown-toggle{
    font-size: 260%;
}
.dashboard-dark .dropdown-toggle:hover{
    color:  #49274a !important;
    background-color: #f4decb !important;
}
.dashboard-light .dropdown-toggle:hover{
    color:  #f4decb !important;
    background-color: #49274a !important;
}

.dashboard-dark .dropdown-menu{
    background-color: #f4decb;
}
.dashboard-light .dropdown-menu{
    background-color: #49274a;
}

.dashboard-dark  .dropdown-item{
    font-weight: 600;
    color:  #49274a !important;
}
.dashboard-light  .dropdown-item{
    font-weight: 600;
    color:  #f4decb !important;
}

.dashboard-dark .dropdown-item:hover{
    color: #f4decb !important;
    background-color:  #49274a !important;
}
.dashboard-light .dropdown-item:hover{
    color: #49274a !important;
    background-color:  #f4decb !important;
}

.mainbody{
    padding-top: 100px;
    padding-bottom: 100px;
    height: fit-content;
    background-color:  transparent !important;
}

.mainbody .h1{
    font-size: 80px;
    width: fit-content;
    font-weight: bolder;
    color: #49274a;
    font-family: 'Montserrat Subrayada', sans-serif !important;
}
.aye{
    display: flex;
    justify-content: flex-end;
}

.signUpForm{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.signUpForm input{
    outline: none;
    background-color:#edf5e1 ;
    width: 400px;
    border: 0;
    padding: 12px;
    margin-bottom: 10px;
}

.signUpForm button{
    width: 400px;
    border: 0;
    padding: 12px;
    margin-bottom: 10px;
}
.aye2{
    position: relative;
    align-items: center;
}
.dashboard-dark #visibility-icon{
    position: absolute;
    top: 12px;
    cursor: pointer;
    margin-left: 10px;
    background-color: #f4decb !important;
    color: #49274a !important;
}
.dashboard-light #visibility-icon{
    position: absolute;
    top: 12px;
    cursor: pointer;
    margin-left: 10px;
    background-color: #49274a !important;
    color: #f4decb !important;
}
#visibility-off-icon{
    position: absolute;
    top: 12px;
    cursor: pointer;
    margin-left: 10px;
}
.mainbody .alert{
    width: 400px;
    text-align: center;
}
.footar{
    /* margin-top: 50px; */
}
.footer_created_by{
    text-align: center;
    font-weight: 590;
}
.social_media_icons{
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}
.social_media_icon{
    cursor: pointer;
    padding-top: 10px;
    
}
.dashboard-light a{
    color: #49274a;
}
.dashboard-light a:hover{
    color: #edf5e1;
    
}
.dashboard-dark a{
    color: #f4decb;
}
.dashboard-dark a:hover{
    color: #edf5e1;
    
}
@font-face {
    font-family: myFirstFont;
    src: url(./ChunkFive-Regular.otf);
}
.fiverrr{
    font-size: 30px;
    margin-left : 20px;
    font-family: myFirstFont, sans-serif !important;
    margin-bottom: 0 !important;
}
span:hover{
    color: #edf5e1;
}
