.mainplatform{
    padding-left: 6%;
    padding-right: 6%;
    padding-bottom: 100px;
}
.mainplatform-light{
    background: #5cdb95;
    color: #05386b;
}
.mainplatform-dark{
    background-color: #05386b;
    color: #5cdb95;
}
.mainplatform_row{
    padding: 20px;
    display: flex; 
    justify-content: space-around;
}
.calorie_eaten_info{
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}
.infoIcon{
    cursor: pointer;
    margin-bottom: 5px;
    margin-left: 5px;
}

.calorie_eaten_info h2{
    margin-bottom: 0;
}
.daily_events_col{
    margin: 10px;
    max-width: 500px;
}
    
.daily_events{
    max-height: 400px;
    /* width:500px; */
    overflow-y: scroll;
    overflow-x: hidden;
    
}
.daily_events::-webkit-scrollbar {
    display: none;
    width: 6px;
    /* cursor: pointer; */
}
   
.daily_events::-webkit-scrollbar-thumb {
  background-color: #05386b;
  /* outline: 1px solid slategrey; */
}
body::-webkit-scrollbar {
    width: 6px;
    /* cursor: pointer; */
}
   
body::-webkit-scrollbar-thumb {
  background-color: #05386b;
  /* outline: 1px solid slategrey; */
}
.daily_cal{
    margin-bottom: 50px;
}
.mainplatform .range-container{
    position: relative;
}
.mainplatform-light .range{
    position: relative;
    margin-top: 10px;
    background-color: #05386b;
    height: 16px;
    border-radius: 50px;
    border: 1px solid #05386b;
}
.mainplatform-light .absolute-range{
    top: -6px;
    left: 6px;
    z-index: 1;
    position: absolute;
    width: 50%;
    margin-top: 10px;
    background-color: #5cdb95;
    height: 8px;
    border-radius: 50px;
}
.mainplatform-dark .range{
    position: relative;
    margin-top: 10px;
    background-color: #5cdb95;
    height: 16px;
    border-radius: 50px;
    border: 1px solid #5cdb95;
}
.mainplatform-dark .absolute-range{
    top: -6px;
    left: 6px;
    z-index: 1;
    position: absolute;
    width: 50%;
    margin-top: 10px;
    background-color: #05386b;
    height: 8px;
    border-radius: 50px;
}
.dailyEventComponent{
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    margin-top: 5px;
    height: 70px;
    border-radius: 5px
}
.daily_cal_date{
    margin-bottom: 20px;
}
.dailyEventComponent h5{
    font-weight: 600;
    margin-bottom: 0 !important;
}
.dailyEventComponent h6{
    margin-bottom: 0 !important;
}
/* .dailyEventComponent .cal-eaten{
    display: flex;
    justify-content: space-between;
    width: 30%; 
} */
.mainplatform-light .dailyEventComponent{
    color : #5cdb95;
    background-color: #05386b;
}
.mainplatform-dark .dailyEventComponent{
    color : #05386b;
    background-color: #5cdb95;
}
.dailyEventComponent :hover{
    border: 0 !important;
    /* background-color: red !important; */
}
.mainplatform-light .my-collapsible__toggle :hover{
    color : #05386b;
    background-color: #5cdb95;
    border: 2px solid #05386b;
}
.mainplatform-dark .my-collapsible__toggle :hover{
    color : #5cdb95;
    background-color: #05386b;
    border: 2px solid #5cdb95;
}
.mainplatform-light .daily-event-info{
    border-radius: 5px;
    margin-top: 1px;
    padding: 15px;
    color: #5cdb95;
    background-color: #05386b;
}
.mainplatform-dark .daily-event-info{
    border-radius: 5px;
    margin-top: 1px;
    padding: 15px;
    color: #05386b;
    background-color: #5cdb95;
}
.daily-event-info p, span{
    font-size: 15px;
    font-weight: 500;
    margin-right: 10px;
}
.daily-event-info-inner{
    display: flex;
    justify-content: space-between;
}
.daily-event-info-inner .removeIcon{
    cursor: pointer;
    font-size: 17px;
}
.toggleEvent{
    display: flex;
    align-items: center;
}
.mainplatform-light .daily_events .addIcon, .removeIcon{
    cursor: pointer;
    margin-right: 10px;
    margin-left: 10px;
    font-size: 30px;
    color: #5cdb95;
    background-color: #05386b;
}
.mainplatform-dark .daily_events .addIcon, .removeIcon{
    cursor: pointer;
    margin-right: 10px;
    margin-left: 10px;
    font-size: 30px;
    color: #05386b;
    background-color: #5cdb95;
}
.mainplatform-light .daily_events .addIcon:hover{
    color: #05386b;
    background-color: #5cdb95;
}
.mainplatform-dark .daily_events .addIcon:hover{
    color: #5cdb95;
    background-color: #05386b;
}
.mainplatform-light .daily_events .removeIcon:hover{
    color: #5cdb95;
    background-color: #05386b;
}
.mainplatform-dark .daily_events .removeIcon:hover{
    color: #05386b;
    background-color: #5cdb95;
}
.react-datepicker__header {
    /* z-index: 1 !important; */
    text-align: center;
    /* background-color: #5cdb95; */
    border-bottom: 0px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding-top: 8px;
    position: relative;
  }
.react-datepicker {
    /* z-index: -1; */
    font-size: 0.8rem;
    background-color: #05386b;
    /* color: white !important; */
    border: 0px;
    border-radius: 0;
    display: inline-block;
    position: relative;
  }
.daily_event_info_loading{
    text-align: center;
    font-weight: 600;
    font-size: 20px;
}