@media only screen and (max-width: 991.5px ) and (min-width: 480px){
    .mainbody .h1{
        text-align: center;
        font-size: 70px;
    }
    .mainbody .aye{
        padding-top: 100px;
        display: flex;
        justify-content: center;
    }
    .the-form .BMICol{
        display: flex;
        justify-content: flex-end; 
    }
    .infoTab1{
        margin-bottom: 50px;
    }
    .the-form .form-group{
        display: flex !important;
        justify-content: center;
    }
    .form-control{
        margin-right: 0!important;
    }
    .BMICol{
        display: flex;
        flex-direction: column;
        justify-content: center !important;
        align-items: center !important;
    }
    .checkbox{
        display: none !important;
        width: 65%;
    }
    .BMI-class{
        max-width: 59%;
    }
    #dropdownMenuButton{
        font-size: 40px;
    }
}

@media only screen and (max-width: 480px) {
    .mainbody .h1{
        text-align: center;
        font-size: 15vw !important;
    }
    .mainbody .aye{
        padding-top: 100px;
        display: flex;
        justify-content: center;
    }
    .signUpForm input,.signUpForm button,.signUpForm .alert{
        width: 82.5vw !important;
        padding: 4vw !important;
    }
    #visibility-icon{
        display: none
    }
    #visibility-off-icon{
        display: none
    }
    .the-form .submit-button{
        margin-bottom: 50px;
    }
    #dropdownMenuButton{
        font-size: 40px;
    }
    .the-form-dark .form-control{
        /* margin-left: auto;;
        margin-right: auto; */

        width: 84% !important;
    }
    .the-form-light .form-control{
        /* margin-left: auto;;
        margin-right: auto; */
        width: 84% !important;
    }
    .ftnIn-class{
        width: 100%;
        display: flex !important;
        justify-content: space-evenly !important;
    }
    .ftnIn{
        margin: 0 !important;
    }
    .the-form .row p{
        display: none !important;
    }
    .the-form .row .BMI-class .form-control{
        font-size: 15px !important;
        padding: 5px 8px ;
    }
    .the-form input{
        /* padding: 5px 8px !important;
        width:70%!important; */
        /* width: 70vw !important;
        padding: 5px 8px !important; */
        width: 82.5vw !important;
        padding: 3.5vw !important;
    }
    .the-form{
        font-size: 15px !important;
    }
    .the-form .btn{
        font-size: 15px !important;
        width: 100px !important;
    }
    .the-form .age{
        display: flex;
        align-items: center;
        justify-content: flex-end !important;
        margin-top: 20px;
    }
    .sex{
        margin-left: auto;
        margin-right: auto;
    }
    #malebutton{
        margin-left: 0 !important;
    }
    .units{
        padding: 8px !important;
        width: 40px !important;
    }
    .checkbox{
        font-size: 12px !important;
    }
    #years{
        visibility: hidden;
        width: 0px;
        /* display: none; */
    }
    .checkbox{
        display: none !important;
    }
    .BMI-class select{
        margin-left: 20px;
        display: flex !important;
        justify-content: flex-end !important;
        font-size: 15px !important;
    }
    #ur-bmi-text{
        width: 150px !important;
        padding-top: 10px;
        margin-left: auto;
        margin-right: auto;
        font-size: 15px !important;
    }
    #ideal-weight{
        width: 150px !important;
        padding-top: 10px;
        margin-left: auto;
        margin-right: auto;
        font-size: 15px !important;
    }
    .weight-status-and-ideal-weight{
        font-size: 18px !important;
    }
    #feet, #inches{
        width: 67px !important;
        padding: 5px 8px !important;
        height: 30px;
    }
    .feetColon{
        font-size: medium !important;
    }
    .next-skip-button{
        margin-bottom: 1px;
    }
    .next-skip-button{
        margin-left: 0;
    }
}