@media only screen and (max-width: 920px ) and (min-width: 480px){
    .mainbody .h1{
        text-align: center;
        font-size: 70px;
    }
    .mainbody .aye{
        padding-top: 100px;
        display: flex;
        justify-content: center;
    }
}

@media only screen and (max-width: 480px) {
    .mainbody .h1{
        text-align: center;
        font-size: 15vw !important;
    }
    .mainbody .aye{
        padding-top: 100px;
        display: flex;
        justify-content: center;
    }
    .signUpForm input,.signUpForm button,.signUpForm .alert{
        width: 82.5vw !important;
        padding: 4vw !important;
    }
    #visibility-icon{
        display: none
    }
    #visibility-off-icon{
        display: none
    }
}